@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --black: #000;
    --smokey: #100c08;
    --white: #fff;
    --blue: #102C57;
    --whiteOne: #f6f7fb;
    --whiteTwo: #eee;
    --whiteThree: #ccc;
    --darkGray: #333;
    --lightGray: #555;
}

* {
    font-family: "Poppins", sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 27px;
}

.charts {
    display: block; 
    margin-bottom: 20px; 
}

.charts canvas {
    width: 100% !important; 
    height: 400px; 
    margin-bottom: 30px; 
}

.cards {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: flex-start; 
    margin-bottom: 20px; 
}

.card {
    min-width: 250px; 
    flex: 0 1 auto; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}